/*
font-family: "Poppins", sans-serif;
font-family: "Inter", sans-serif;

*/

.section_dos  {
   /* border: 2px solid red; poner o sacar*/
    width: 300px;
    height: 130px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.section_dos p {
    color: #121212;
    text-align: left;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 30px;
}

.section_dos h3 {
    width: 350px;
    height: 54px;
    color: #121212;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
}

@media (min-width: 900px) {
    .section_dos p { 
        font-size: 20px;
    }
    .section_dos h3{
        font-size: 20px;
        width: 500px;
    }
}