/*
font-family: "Poppins", sans-serif;
font-family: "Inter", sans-serif;
*/

*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #fcfcfc;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInUp 0.6s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.contenedor_uno {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.header_iconos{
    display: none;
}
.hero {
  width: 100%;
  max-width: 1100px; /* o 1000px / 1200px */
  margin: 0 auto;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin: 2px;
    height: 600px;
}
.img {
    width: 300px; 
    height: 300px;
    border-radius: 50%;
    object-fit: cover; /*evita que no se deforma la img */
    object-position: top; /* si quiero que se enfoque en la parte de arriba */
    padding: 10px; 
    margin: 0 auto;
    display: block; 
    
}
.hero_text {
    margin-left: 20px;
}
strong {
    background-color: #ba58f3;
    color: #FBFBFB;
    padding: 5px;
    font-size:28px;
}
.hero_text h1 {
    margin-bottom: 10px; 
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: "Inter", sans-serif;
    color: #111111;
}

.hero_text p {
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    font-family: "Inter", sans-serif;
    color: #111111;
    opacity: 0.85;
    width: 350px;
}

.content_a {
    color: #111111;
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
}

.iconos {
    background-color: rgb(253, 57, 57);
    margin: 15px;
    padding: 10px;
    border-radius: 20em;
    width: 30px;
    height: 30px;
    color: #FBFBFB;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.iconos:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    transform: translateY(-4px) scale(1.02);
}


@media (min-width: 900px){
    .contenedor_uno {
        height: 500px;
        align-items: center;
    }
    .content {
        display: flex;
        align-items: center;
    }
    .hero_text h1 {
        width: 600px;
        height: 150px;
        font-size: 40px;
        text-align: left;
    }
    .hero_text p {
         width: 600px;
    }
    
    strong {
    background-color: #ba58f3;
    color: #FBFBFB;
    padding: 5px;
    font-size:30px;
}
   
}

@media (min-width: 600px) {
    .content {
        display: flex;
        flex-direction: row;
        height: 400px;
    }
    .contenedor_uno {
        height: 600px;
    }
    
    .content h1 {
        text-align: left;
        font-size: 36px;
        margin-bottom: 10px; 
        margin-top: 10px;
    }
    .content p {
        text-align: left;
        font-size: 20px;
    }
    .header_iconos{
    display: flex;
    }
    .content_a {
        display: none;
    }
    
}
