.box{
    height: 283px;
    height: 183px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 11px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.box:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.box h1 {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: #111111;
    padding: 10px;
}

.box p {
    width: 340px;
    height: 72px;
    font-size: 16px;
    font-weight: lighter;
    text-align: left;
    color: #111111;
    padding: 10px;
}

.box a {
    width: 93px;
    height: 34px;
    background-color: #111111;
    text-align: center;
    color: #FFFFFF;
    border-radius: 11px;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
}

@media (min-width: 600px) {
    .box {
        width: 400px;
    }
}

@media (min-width: 900px) {
    .box {
        width: 400px;
        height: 262px;
    }
    .box h1 {
        font-size: 30px;
    }
    .box p {
        font-size: 20px;
        height: 120px;
        width: 400px;
    }
    .box a  {
        width: 131px;
        height: 34px;
        font-size: 18px;
        background-color: #111111;
    }
}