.box{
    height: 283px;
    height: 183px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 11px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.box:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.box h1 {
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    color: #121212;
    padding: 10px;
}

.box p {
    width: 340px;
    height: 72px;
    font-size: 16px;
    font-weight: 200;
    text-align: left;
    color: #121212;
    padding: 10px;
}

.box a {
    width: 93px;
    height: 34px;
    background-color: rgb(253, 57, 57);
    text-align: center;
    color: #ffffff;
    border-radius: 13px;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
    text-decoration: none; 
}
.box a:hover {
    background-color: rgb(250, 64, 64);
}

@media (min-width: 600px) {
    .box {
        width: 400px;
    }
}

@media (min-width: 900px) {
    .box {
        width: 300px;
        height: 262px;
    }
    .box h1 {
        font-size: 30px;
    }
    .box p {
        font-size: 18px;
        height: 120px;
        width: 300px;
    }
    .box a  {
        width: 131px;
        height: 34px;
        font-size: 18px;
    }
}