.lenguajes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  padding: 16px;
  max-width: 360px;   /* no width fijo */
  margin: 0 auto;     /* centra el bloque */
}

.codigo {
  border:1px solid #1A1A1A;
  color: #121212;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.codigo:hover {
  transform: translateY(-4px) scale(1.02);
  background-color: rgb(253, 57, 57);
  color: #F5F3EF;;
  cursor:pointer;
}


@media (min-width: 900px) {
  .codigo {
    font-size: 18px;
  }
  .lenguajes  {
    max-width: 100%; 
    flex-wrap: wrap;
  }
}