/*
font-family: "Poppins", sans-serif;
font-family: "Inter", sans-serif;

*/

*{
    box-sizing: border-box;
    margin: 0;
}

.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 24px;
}
.box_textos,
.skills__header,
.projects__cards,
.skills__list {
  width: 100%;
}

.projects__cards, .skills__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}


/*media query*/
@media (min-width: 600px) {
    .projects, .projects__cards, .skills__list {
        justify-content: center;
        align-items: center;
         flex-wrap: wrap;
    }
    
    .box_textos, .skills__header {
        width: 400px;
    }
}

@media (min-width: 900px) {
    .projects__cards, .skills__list {
        flex-direction: row;
    }
    .box_textos, .skills__header{
        width: 700px;
      /*  background-color: aqua; */
        margin: 2px;
    }
    .projects__section, .skills {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        max-width: 1100px; /* o 1000px / 1200px */
        margin: 0 auto;
    }

}


@media (max-width: 1378px) {
    .projects__section, .skills {
     /*   background-color: rgb(122, 76, 76); */
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}